@charset "utf-8";
/*-----------------------------------清除默认样式-------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
i,
b,
em,
strong {
  font-style: normal;
}
img {
  display: block;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(http://2.tthunbohui.cn/zhuanti/10809/YQH-imgBj-logo.png);
  background-size: 20% auto;
}
.clear-A {
  text-decoration: none;
  color: #333;
}
/*---------------------------------------end------------------------------------------------*/
/*-------------------------------------公共样式---------------------------------------------*/
.wrap {
  width: 15rem;
  margin: 0 auto;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
body {
  font-family: Helvetica, "Microsoft Yahei";
  color: #333;
  font-size: 40px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.middle:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 0;
}
.marginfix:before {
  content: "";
  display: table;
}
/* *******************************背景图设置mixin */
/* ******************************end */
/* *************************鼠标移入wayra效果mixin */
/* *******************************end */
/*---------------------------------------end------------------------------------------------*/
