.share{width:.8rem;height:.8rem; position:absolute;z-index:99;top:0;right:0;}
.img_share{width:.8rem; height:.8rem;position:fixed; top:0.5rem;right:0.5rem; z-index:99;}
.img_share img{width:.8rem; height:.8rem}
