<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="notice.css">
</head>
<body>
	<div class="zt_tc" style="display: none;">
        <h3>索票已截止。请到现场买票入场（15元/位）。</h3>
        <p>①开展时间： 3月4日（9:30-20:00）至 3月5日 （9:30-19:30）</p>
        <p>②本展会为会员制，须出示身份证买票入场</p>
        <p>现场客服：88888</p>
        <p>2017春季<span>中国婚博会</span>将于3月4日-5日在G20峰会场隆重召开！</p>
        <div class="tc_close"> X </div>
        <div class="go_next"> 前往索取下届展会门票 </div>
	</div>
<script src="../public/jquery-1.9.1.js"></script>
<script src="notice.js"></script>
</body>
</html>