@charset "utf-8";
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.4);
}
img {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(http://2.tthunbohui.cn/zhuanti/10809/YQH-imgBj-logo.png);
  background-size: 20% auto;
}
.mobilePhoneSystem {
  width: 15rem;
  margin: auto;
  text-align: center;
  line-height: 0.6rem;
  font-size: 0.32rem;
  background: red;
  color: #fff;
}
/******************头图 S****************** */
.m-pic-box {
  position: relative;
  margin: auto;
  width: 15rem;
}
.m-pic-box img {
  width: 15rem;
}
.banner-box img {
  height: 699px;
}
/* *****************头图 E****************** */
/******************主题块-公共 S****************** */
.part-box {
  margin: auto;
  width: 15rem;
}
.part-box > img {
  width: 15rem;
}
/* *****************主题块-公共 E****************** */
/******************part1-现金券 S****************** */
.coupon-list-box {
  margin: auto;
  width: 720px;
  padding: 20px 0;
  font-size: 0;
}
.coupon-list-box .coupon-box {
  display: inline-block;
  vertical-align: top;
  margin: 4px 8px;
  width: 164px;
}
.coupon-list-box .coupon-box img {
  width: 164px;
  height: 119px;
}
/* *****************part1-现金券 E****************** */
/******************part2-商品列表 S****************** */
.part2-box {
  font-size: 0;
  text-align: center;
}
.item-list-box {
  display: inline-block;
  border: 3px solid #000;
  padding: 20px 0.5rem;
  font-size: 0;
  background: #bf3825;
}
.item-list-box .item-row {
  border-bottom: 1px solid #ab2f1e;
}
.item-list-box .item-row .item-box {
  padding-top: 15px;
}
.item-list-box .item-row:first-child .item-box {
  padding-top: 0;
}
.item-list-box .item-box {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 15px;
  width: 298px;
  font-size: 22px;
  text-align: center;
}
.item-list-box .item-box .pic-box img {
  width: 298px;
  height: 232px;
}
.item-list-box .item-box .title3-box {
  margin-top: 10px;
  border: 1px solid #fff;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item-list-box .item-box p {
  margin: 10px auto auto;
  width: 245px;
  border-bottom: 2px solid #000;
  color: #000;
  font-weight: bold;
}
.item-list-box .item-box .price-box {
  margin-top: 10px;
  color: #fff;
}
.item-list-box .item-box .price-box s {
  margin-left: 10px;
  font-size: 18px;
}
.item-list-box .item-box .btn-box {
  margin-top: 10px;
  font-size: 0;
}
.item-list-box .item-box .coupon-btn {
  display: inline-block;
}
.item-list-box .item-box .coupon-btn img {
  width: 171px;
  height: 35px;
}
.item-list-box .item-box:first-child {
  padding-right: 0.5rem;
  border-right: 1px solid #ab2f1e;
}
.item-list-box .item-box:last-child {
  padding-left: 0.5rem;
}
.watch-box .btn-box {
  position: absolute;
  left: 0;
  top: 390px;
  width: 100%;
  text-align: center;
  font-size: 0;
}
.watch-box .btn-box a {
  display: inline-block;
  margin: 0 60px;
  width: 200px;
  line-height: 36px;
  color: #b53c29;
  background: #e9d8be;
  font-size: 22px;
}
/* *****************part2-商品列表 E****************** */
/* *****************导航 S****************** */
.zt-nav-box {
  left: 0;
  z-index: 9;
  width: 100%;
}
.zt-nav-wrap {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  margin: auto;
  width: 15rem;
  overflow: hidden;
  font-size: 0;
  line-height: 64px;
  text-align: center;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  background-image: url(https://img.tthunbohui.cn/zhuanti/18232/bg.jpg);
}
.zt-nav-wrap li {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  width: 16.67%;
  border-right: 2px solid #000;
  background: url(https://img.tthunbohui.cn/zhuanti/18232/nav_bg.png) repeat-x top left;
  background-size: 120px;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}
.zt-nav-wrap li:last-child {
  border: none;
}
.zt-nav-wrap .nav2 {
  background-position-y: -94px;
  color: #000;
}
/* *****************导航 E****************** */
/* *****************底部链接 S****************** */
.bottom-link {
  margin: auto;
  padding: 20px 0;
  width: 14.6rem;
}
.bottom-link:after {
  content: '';
  display: block;
  clear: both;
}
.bottom-link li {
  float: left;
  margin: 8px 8px;
}
.bottom-link li img {
  display: block;
  width: 6.9rem;
  height: 3.77rem;
}
/* *****************底部链接 E****************** */
