@charset "utf-8";
/******************NORMALIZE************************ */
body {
  margin: 0;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
img {
  border: 0;
}
hr {
  box-sizing: content-box;
  height: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
textarea {
  overflow: auto;
}
/*-----------------------------------CUSTOMIZED-NORMALIZE S-------------------------------------------*/
ol,
ul {
  list-style: none;
}
ol,
ul,
dl,
li,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(http://2.tthunbohui.cn/zhuanti/10809/YQH-imgBj-logo.png);
  background-size: 20% auto;
}
/*---------------------------------------NORMALIZE E------------------------------------------------*/
/*-------------------------------------CSS-REPO S---------------------------------------------*/
.clear-A {
  text-decoration: none;
}
.wrap {
  width: 15rem;
  margin: 0 auto;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
body {
  font-family: Helvetica, "Microsoft Yahei";
  color: #333;
  font-size: 40px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.middle:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 0;
}
.marginfix:before {
  content: "";
  display: table;
}
.wap-center {
  width: 16rem;
  margin: auto;
}
.mobilePhoneSystem {
  width: 16rem;
  margin: auto;
  text-align: center;
  line-height: 0.75rem;
  font-size: 0.4rem;
  background: red;
  color: #fff;
}
/*-------------------------------------CSS-REPO S---------------------------------------------*/
