@charset "utf-8";
@import "css-repo.less";

@keyframes arrowup{
	0%{
		.transform(translateY(0));
		opacity:1;
	}
	100%{
		.transform(translateY(-0.75rem));
		opacity:0.1;
	}
}
@-webkit-keyframes arrowup{
	0%{
		.transform(translateY(0));
		opacity:1;
	}
	100%{
		.transform(translateY(-0.75rem));
		opacity:0.1;
	}
}
/* 三段式可扩展背景-公共*/
.bg-box{
	.box-sizing;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	.bg-top{
		position: absolute;
		left:0;
		top:0;
		width:100%;
		background-repeat: no-repeat;
		background-position: top center;
		background-size:100%;
	}
	.bg-middle{
		height:100%;
		background-size:100%;
	}
	.bg-bottom{
		position: absolute;
		left:0;
		bottom:0;
		width:100%;
		background-repeat:no-repeat;
		background-position:bottom center;
		background-size:100%;
	}
}

/* 三段式可扩展背景-定制*/
.bg-box{
	.box-sizing;
	padding-top:0.82rem;
	padding-bottom:0.17rem;
	.bg-top{
		height:0.825rem;
		background-image:url(../images/bg_top.png);
	}
	.bg-middle{
		background:url(../images/bg_middle.png);
	}
	.bg-bottom{
		background:url(../images/bg_bottom.png);
	}
}

/******************头图 S****************** */
.m-pic-box{
	position:relative;
	margin:auto;
	img{
		width:15rem;
	}
}
.banner-box{
	img{
		height:px;
	}
}
/* *****************头图 E****************** */

/******************主题块-公共 S****************** */
.part-box{
	margin:auto;
	width:15rem;
	>img{
		width:15rem;
	}
}
/* *****************主题块-公共 E****************** */

/******************part1-现金券 S****************** */
.part1{

}
/* *****************part1-现金券 E****************** */

/******************part2-商品列表 S****************** */
.part2-box{
	font-size:0;
	text-align: center;
}
/* *****************part2-商品列表 E****************** */

/* *****************导航 S****************** */
.nav-placeholder{
}
.zt-nav-box{
	left:0;
	z-index: 9;
	width:100%;
}
.zt-nav-wrap{
	.flexbox;
	margin:auto;
	width:15rem;
	overflow: hidden;
	font-size:0;
	line-height:64px;
	text-align: center;
	border-top:3px solid #000;
	border-bottom:3px solid #000;
	background-image:url(https://img.tthunbohui.cn/zhuanti/18232/bg.jpg);
	li{
		.flex;
		width:16.67%;
		border-right:2px solid #000;
		background:url(https://img.tthunbohui.cn/zhuanti/18232/nav_bg.png) repeat-x top left;
		background-size:120px;
		font-size:22px;
		color:#fff;
		font-weight: bold;
		&:last-child{
			border:none;
		}

	}
	.nav2{
		background-position-y:-94px;
			color:#000;
	}
}
/* *****************导航 E****************** */

/* *****************友链 S****************** */
.bottom-link{
	margin:auto;
	padding:20px 0;
	width:14.6rem;

	.clearfix;
	li{
		float:left;
		margin:8px 8px;
		img{
			display: block;
			width: 6.9rem;
			height:3.77rem;
		}
	}
}
/* *****************友链 E****************** */


